#container{
   
    height: 500px;
    width: 800px;
    background-color: white;
    position:relative
}
#circle{
    height:250px;
    width:400px;
    background-color: red;
    border-radius: 50%;
    position :absolute;
    left:200px;
    top:125px;
}
