#container{
    height:300px;
    width:600px;
    background-color:red;
    position:relative;
    
}
#container2{
    height:100px;
    width:600px;
    background-color: blue;
    position:absolute;
    top:100px;
    left:0;

}
#circle{
    height:100px
    width:100px;
    background-color:white;
    border-radius: 50%;
}
